@import "tailwindcss";

@theme {
  --color-greenDDS: #4f9669;
  --color-secondary: #121714;
  --color-primary: #0a0f0c;
  --color-redDDS: #5d1f1f;
  --color-blackDDS: #262d27;
  --color-whiteDDS: #6e6f6e;

  --font-display: "Montserrat", "sans-serif";
}

@layer utilities {
  .custom-scrollbar::-webkit-scrollbar {
    width: 6px;
    height: 8px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent; /* Warna track */
    border-radius: 10px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: white; /* Warna thumb */
    border-radius: 10px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #6b7280; /* Warna thumb saat hover */
  }
}
